### List
A list is collection of different data types which is ordered and modifiable(mutable). A list can be empty or it may have different data type items.

In [97]:
# A list can be created by putting the values inside the square 
#bracket and separated by comma.
l1 = [45,78,4.5,'nams','tygx']
# list supports mixed datatypes.
print(l1)
print(type(l1))

[45, 78, 4.5, 'nams', 'tygx']
<class 'list'>

In [98]:
l2 = [45,89,56,89,898,454,998]
# lists preserve the order/ the values inside a list are arranged in 
#ordered manner.
print(l2)
print(len(l2))

[45, 89, 56, 89, 898, 454, 998]
7

In [99]:
l5 = [[6,5],7,8,(4,7,8),'string']
print(type(l5))
print(l5)

<class 'list'>
[[6, 5], 7, 8, (4, 7, 8), 'string']

#### Accessing list Items

In [100]:
l3 = ['name',56,78,89,56,'string']
print(l3[:])
print(l3[1:5])
print(l3[2:6:2])
print(l3[0][0:3])

['name', 56, 78, 89, 56, 'string']
[56, 78, 89, 56]
[78, 56]
nam

In [101]:
l5 = [[6,5],7,8,(4,7,8),'string']
print(type(l5))
print(l5[4][0:4:2])

<class 'list'>
sr

Adding Python lists ( Concating python lists - connecting lists together)

In [102]:
list1 = [4,7,7,90,'abc','the']
list2 = [23,67,45,0,6,'xyz']
list3 = list1 + list2
print(list3)
print(type(list3))

[4, 7, 7, 90, 'abc', 'the', 23, 67, 45, 0, 6, 'xyz']
<class 'list'>

In [103]:
list1 = [4,7,7,90,'abc','the']
value = 'x'
add = list1 + value
print(add)
# concat can only work if the datatype of the data to be concated is similar

TypeError: can only concatenate list (not "str") to list

In [ ]:
value = list('x')
print(value)
print(list1 + value)

Updating list

In [ ]:
list3 = [4, 7, 7, 90, 'abc', 'the', 'x'] 
# lists allow repetative values
# this shows lists are mutable in nature.
list3[3]=-37
print(list3)

In [ ]:
list3[8]=1000
print(list3)

### Deleting Elements
del statement can be used to delete an element from the list . It can also be used to delete all items from start index to endindex

In [ ]:
list3 = [4, 7, 7, 90, 'abc', 'the', 'x']
del(list3[2])
print(list3)
# this also shows that lists are mutable in nature.

In [ ]:
del(list3[0:3])
print(list3)

In [ ]:
del list3

In [ ]:
print(list3)

### List Methods
append() method which is used to append i.e., add an element (single/one element) at the end of the existing elements

In [ ]:
l1 = [56,78,45,898,0,'namekd']
l1.append(['python',"java"])
print(l1)

In [ ]:
l1.append([3,90,45])
print(l1)

In [ ]:
l1.append(('Eric',2,50))
print(l1)

count() = The count () method returns count of many times the value occurs in list

In [ ]:
l2 = [56,78,45,898,56,6,0,56,'namekd', 'python', [3, 90, 45], ('Eric', 2, 50)]

l2.count(45)

In [ ]:
l2.count(56)

max() = The max() method returns the elements from the list with maximum value

In [ ]:
l3 = ['name',45,67,5656,9099]
print(max(l3))

In [ ]:
l2 = [4,78,89,0,45,676]
print(max(l2))

extend() = The extend() method appends the contents of sequence to list/
It adds multiple elements at the end of list

In [ ]:
l1 = [5,78,0,24,1616]
l1.extend(['Eric','Sam'])
print(l1)

In [ ]:
l1.extend('python')
print(l1)

index() = The index() method returns the lowest index in the list

In [ ]:
l1 = [5,67667,78,0,24,56566,1616,5,676,8,78]

In [ ]:
l1.index(78)

insert() = the insert() method inserts values at index position

In [ ]:
l1 = [5,67667,78,0,24,56566,1616,5,676,8,78]
l1.insert(3,'Roy')
print(l1)
l1.index(0)
#just to check if the value has shifted its index position or not after insert

pop() = the pop() method removes & returns last object or obj from the list.

In [ ]:
l1.pop()
print(l1)

l1.pop(4)
print(l1)

In [ ]:
l1.pop(3)
print(l1)


sort() = The sort() method sorts values of list, but type of elements in list should be same otherwise compiler throw typeError

In [ ]:
l1.sort()
print(l1) 
#by default the data is sorted in asc order

l1.sort(reverse=True) 
# to make it sort asc to desc order we mention reverse = True
print(l1)

reverse() : reverse method helps to reverse the existing list

In [ ]:
l1 = [5,67667,78,0,24,56566,1616,5,676,8,78]
l1.reverse()
print(l1)

In [ ]:
print(l1[::-1])

Write a program to remove the item present at last index position and add it to the 5th position and at the end of the list
num = [45,12,78,23,90,56,45,67]

In [ ]:
num = [45,12,78,23,90,56,45,67]
num1 = num.pop()
print(num)
print(num1)

num.insert(4,num1)
print(num)

num.append(num1)
print(num)

Extend nested list by adding the sublist

l1 = [3,6,6,9,[0,1,-3,[2,6]],6,8]

In [ ]:
l1 = [3,6,6,9,[0,1,-3,[2,6]],6,8]
l2 = [4,1,7]
l1[4][3].extend(l2)
print(l1)

### Tuples
A tuple is a collection of different data types which is ordered and unchangeable (immutable). Tuples are written with round brackets, (). Once a tuple is created, we cannot change its values. We cannot use add, insert, remove methods in a tuple because it is not modifiable (mutable).

Creating a Tuple

In [ ]:
t1 = (3,5,6,8,0,'name')
print(t1)
print(type(t1))

In [ ]:
t2 = (3,)

print(type(t2))

In [ ]:
t3 = (46,[6,8],98,0,'name')
print(t3)

Tuple length
len() function will be used to find out the length of the tuple

In [ ]:
print(len(t3))

In [ ]:
t1 = (5,7,3,92,0,2,78,90,46)
print(len(t1))

Accessing Tuple Items

In [ ]:
t1 = (5,7,3,92,0,2,78,90,46,2)

In [ ]:
print(t1[2:9])
print(t1[0:5])
print(t1[-5])
print(t1[3::2])

Reversing of tuple

In [ ]:
t1 = (5,7,3,92,0,2,78,90,46,2)

print(t1.reverse())
print(t1)

In [ ]:
print(t1[::-1])

Addition of tuples

In [ ]:
t1 = (5,7,3,92,0,2,78,90,46,2)
t2 = (6,'namsiw',877,-4,78,3)

t3 = t1 + t2
print(t3)

Replicating tuples

In [ ]:
print(t1*4)

### Updating tuples
Tuples are immutable in nature which means you cannot update or change values of tuple elements.

In [ ]:
t1 = (5,7,3,92,0,2,78,90,46,2)

In [ ]:
t1[3]=5
print(t1)

Deleting tuple elements
Removing individual tuple elements is not possible.

In [ ]:
t1 = (5,7,3,92,0,2,78,90,46,2)

del t1

In [ ]:
print(t1)