### Variable

Variable is an identifier which holds some value.Variables refers data in a computer memory.
Python Variable Name Rules:

A variable name must start with a letter or the underscore character

A variable name cannot start with a number

A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )

Variable names are case-sensitive (firstname, Firstname, FirstName and FIRSTNAME) are different variables)

In [51]:
a=5
c=3.5
print(type(c))
print(a)
print(c)
print(type(a))

<class 'float'>
5
3.5
<class 'int'>

In [52]:
b="True"
print(type(b))

value = True
print(type(value))

s = 24628
print(type(s))

<class 'str'>
<class 'bool'>
<class 'int'>

Declaring Multiple Variable in a Line

In [53]:
first_name,last_name,country,age = 'raj', 'joshi','india',25
print(first_name,last_name,country,age)
print('first_name',first_name)
print('last_name',last_name)
print('country',country)
print('age',age)
print(type(age))
print('first name:',first_name,'last name:','country:',country,'age',age)

raj joshi india 25
first_name raj
last_name joshi
country india
age 25
<class 'int'>
first name: raj last name: country: india age 25

In [54]:
a=10
b=a
print(b)
b=30
a='cat'
print(b)
print(a)

10
30
cat

In [55]:
#python does type inferencing automatically 
a=5
b=6.2
print(type(b)) #returns the datatype of the object 
print(a+b)
c = a+b
print(c)

<class 'float'>
11.2
11.2

when the Python itself automatically considers the data type of the values it is said to be 'implicit' in nature.
When the programmers specifies what kind of data to be present in the variables then it is said to be 'explicit' in nature.

### Built in functions
In Python we have lots of built-in functions. Built-in functions are globally available for your use that mean you can make use of the built-in functions without importing or configuring. Some of the most commonly used Python built-in functions are the following: print(), len(), type(), int(), float(), str(), input(), list(), dict(), min(), max(), sum(), sorted(), open(), file(), help(), and dir()

In [56]:
name = input("enter your name:")
print ("hello ",name)

enter your name:mohit
hello  mohit

In [57]:
num1 = int(input('enter your 1st num:'))
num2 = int(input('enter your 2nd num:'))
print(num1+num2)

enter your 1st num:1
enter your 2nd num:2
3

In [58]:
num1 = int(input('Enter your 1st num:'))
num2 = int(input('Enter your 2nd num:'))
print(num1+num2)

Enter your 1st num:2
Enter your 2nd num:3
5

In [60]:
num1=float(input())
print(num1)
num2=float(input())
print(num1+num2)

4.4
4.4
4.7
9.100000000000001

In [61]:
#the len() function doesnot work upon int & float data types 
values = "26478"
print(len(values))

5

In [62]:
date = 'March 1996'
len(date)

10

In [63]:
print('''We are learning "Data science" This is our python session''')

We are learning "Data science" This is our python session

In [64]:
date = 'march 1996'
len(date)

10

In [65]:
print('we are learing "data science" this is our python session')

we are learing "data science" this is our python session

In [66]:
"""
This is Python Session.
we studied about variables
we will study about operations

"""
a=34

Operators - Operators are use to perform operations on variables & values
Assignment operators - use to assign values to variables.

In [67]:
# assignment operator 
name = 'Kamal'
age =25
city = 'mumbai'
print(name)

Kamal

In [68]:
a = 50

In [69]:
a= 50
a = a + 10
print(a)

60

In [70]:
a+=10
print(a)

70

In [71]:
a -= 5 
print(a)

65

Arithmetic operators(mathematical operators) - Operations will be based upon the mathematical tasks like addition, substraction , multiplication,etc.

In [72]:
#arithmetic operator  
print() #addition(+)
print() #subtraction(-)
print() #multiplication(*)
print() #divison(/)
print() #exponrntial(**)
print() #modulus(%)
print() #floor division(//)

In [73]:
# Arithmetic operator
print(154+225)   # addition(+)
print(4567689-36)   # subtraction(-)
print(14434.54*15)   # multiplication(*)
print(500/45)   # division(/)
print(160**2)  # exponential(**)
print(500%45)   # modulus(%)
print(500//45)  # Floor division operator(//)

379
4567653
216518.1
11.11111111111111
25600
5
11

Relational Operators - Relational Operators try to built up some relationship between the values Or variables.

In [74]:
# Relational Operator
print(3 > 2)     # True, because 3 is greater than 2
print(3 >= 2)    # True, because 3 is greater than 2
print(3 < 2)     # False,  because 3 is greater than 2
print(2 < 3)     # True, because 2 is less than 3
print(2 <= 3)    # True, because 2 is less than 3
print(3 == 2)    # False, because 3 is not equal to 2
print(3 != 2)    # True, because 3 is not equal to 2
print()
print(len('mango') == len('avocado'))  # False
print(len('mango') != len('avocado'))  # True
print(len('mango') < len('avocado'))   # True
print(len('milk') != len('meat'))      # False
print(len('milk') == len('meat'))      # True
print(len('tomato') == len('potato'))  # True
print(len('python') > len('dragon'))   # False
print(len('alphabet'))

True
True
False
True
True
False
True

False
True
True
False
True
True
False
8

In [75]:
x=3
x == 3    # comparison(RELATIONAL OPERATORS)

True

In [76]:
print(500%45)
print(4+5)
print(90-10)

5
9
80

Logic Operator - Logical operators have 'and',' or ', 'not'

In [77]:
# Logical Operator
x = True
y = False
print('x and y is ',x and y) # False
print('x or y is ',x or y) # True
print('not x is ',not x)  # False
print('not y is ', not y)

x and y is  False
x or y is  True
not x is  False
not y is  True

Identity Operators - They try to check if the variables are identical or not

is - TRUE when both the variables have same values is not - TRUE if both the variables do not same values

In [78]:
a = 38
b = 95
print(a is not b)
print(a is b)

True
False

In [79]:
print(a is not b)

True

In [80]:
msg1 = 'Hello'
msg2 = 'kamal'

print( msg1 is msg2)
print( msg1 is not msg2)

False
True

Membership Operator - Try to find the values used are part or members of particular sequence(list,tuples,dictionaries,sets,strings)

in - TRUE when the values or variable is a part of the sequence not in - TRUE when the values or variables are not part of the sequence

In [81]:
name = "My name is jayesh"

print('kamal' in name)

False

In [82]:
print('jon' in name)

False

In [83]:
no = [45,546,-3,99,42,0,188,53]
print(77 not in no)

True

In [84]:
print(23 in no)

False