### Sets
Set is a collection of unordered and un-indexed distinct elements. In Python set is used to store unique items, and it is possible to find the union, intersection, difference among sets.

In [1]:
s = {2}
print(type(s))
s1 = {}
print(type(s1))

<class 'set'>
<class 'dict'>

In [2]:
s1 = {1,3,4,2,0,1,34}
print(s1)

{0, 1, 2, 3, 4, 34}

In [3]:
set1 = {56,9,0,'name',56,2,4,0,'roy'}
print(set1)

{0, 2, 4, 9, 'name', 'roy', 56}

In [4]:
set1.add((2,3)) # to add a single element inside a set
print(set1)

#set1.add(5,8)
#print(set1)

set1.update((5,7,8)) # add multiple elements inside a set.
print(set1)

{0, 2, 4, 9, 'name', 'roy', (2, 3), 56}
{0, 2, 4, 5, 7, 8, 9, 'name', 'roy', (2, 3), 56}

In [5]:
set1.remove(2)

In [6]:
print(set1)

{0, 4, 5, 7, 8, 9, 'name', 'roy', (2, 3), 56}

In [7]:
set1.discard(7)
print(set1)

{0, 4, 5, 8, 9, 'name', 'roy', (2, 3), 56}

In [9]:
set1.remove(4,5)
print(set1)

TypeError: remove() takes exactly one argument (2 given)

In [10]:
i = [4,5]

for x in i:
    set1.remove(x)
    
print(set1)

{0, 8, 9, 'name', 'roy', (2, 3), 56}

In [11]:
setA = set([3,6,8,8,9,0,3,7])
setB = set([8,0,4,3,7,9])

print(setA)
print(type(setA))

print(setB)
print(type(setB))

{0, 3, 6, 7, 8, 9}
<class 'set'>
{0, 3, 4, 7, 8, 9}
<class 'set'>

In [12]:
#Union Operation -It will combine all the values 
#uniquely once in the output
print(setA.union(setB))
print(setA | setB)

#Intersect Operation - It will find common unique values 
#btw the sets
print(setA.intersection(setB))
print(setA & setB)

#difference operation - it will take the values from set1 
#which is not present in set2.
print(setA.difference(setB))
print(setB.difference(setA))
print(setA-setB)
print(setB-setA)

{0, 3, 4, 6, 7, 8, 9}
{0, 3, 4, 6, 7, 8, 9}
{0, 3, 7, 8, 9}
{0, 3, 7, 8, 9}
{6}
{4}
{6}
{4}

#### Dictionaries
Dictionary is a set of Key & value pair. It is a container that contains data, enclosed within curly braces.The pair i.e., key and value is known as item. The key passed in the item must be unique.

In [13]:
#Creating a dictionary
my_d1={1:'A',2:'B'}
print(my_d1)

my_d2={"name":["John","Eric","Alex"],"ID":[2,4,6],
       "Marks":[34,45,38],
       "Marks":[36,43,39],"random":[2,4,6]}
print(my_d2)



print(my_d2["name"][0])
print(my_d2['ID'][2])  # key indexing

{1: 'A', 2: 'B'}
{'name': ['John', 'Eric', 'Alex'], 'ID': [2, 4, 6], 'Marks': [36, 43, 39], 'random': [2, 4, 6]}
John
6

In [14]:
print(my_d2)

{'name': ['John', 'Eric', 'Alex'], 'ID': [2, 4, 6], 'Marks': [36, 43, 39], 'random': [2, 4, 6]}

In [15]:
import pandas as pd
df=pd.DataFrame(my_d2)
print(df)

   name  ID  Marks  random
0  John   2     36       2
1  Eric   4     43       4
2  Alex   6     39       6

In [16]:
my_d={"Name":"Eric","age":27}
my_d['age']=25
print(my_d)

my_d['addresss']='Mumbai'
print(my_d)

{'Name': 'Eric', 'age': 25}
{'Name': 'Eric', 'age': 25, 'addresss': 'Mumbai'}

In [17]:
del my_d["age"]
print(my_d)

{'Name': 'Eric', 'addresss': 'Mumbai'}

In [18]:
my_d2

{'name': ['John', 'Eric', 'Alex'],
 'ID': [2, 4, 6],
 'Marks': [36, 43, 39],
 'random': [2, 4, 6]}

In [19]:
my_d2["name"][2]="Hitesh"
print(my_d2)
my_d2['name'].append('Sam')
print(my_d2)

{'name': ['John', 'Eric', 'Hitesh'], 'ID': [2, 4, 6], 'Marks': [36, 43, 39], 'random': [2, 4, 6]}
{'name': ['John', 'Eric', 'Hitesh', 'Sam'], 'ID': [2, 4, 6], 'Marks': [36, 43, 39], 'random': [2, 4, 6]}

In [20]:
my_d2['name'].insert(2,"Roy")
my_d2

{'name': ['John', 'Eric', 'Roy', 'Hitesh', 'Sam'],
 'ID': [2, 4, 6],
 'Marks': [36, 43, 39],
 'random': [2, 4, 6]}

In [21]:
my_d={"Name":"Eric","age":27}
print(len(my_d))

2

In [22]:
len(my_d2)

4

clear() : The clear() method removes all items from the dictionary

In [23]:
dict1 = {1:'Python',2:'Java',3:'C++',4:'PHP'}

#dict1.clear()
print(dict1)

{1: 'Python', 2: 'Java', 3: 'C++', 4: 'PHP'}

copy() : The copy() method returns the copy of the dictionary

In [24]:
dict1 = {1:'Python',2:'Java',3:'C++',4:'PHP'}
dict2 = dict1.copy()
print(dict2)

{1: 'Python', 2: 'Java', 3: 'C++', 4: 'PHP'}

items() : The method items() returns a list of items(key,value) tuple pairs

In [25]:
print(dict1.items())

dict_items([(1, 'Python'), (2, 'Java'), (3, 'C++'), (4, 'PHP')])

keys() : The method keys() returns a list of all the available keys in the dictionary.

In [26]:
print(dict1.keys())

dict_keys([1, 2, 3, 4])

values() : The method values() returns a list of all the values available in the given dictionary

In [27]:
print(dict1.values())

dict_values(['Python', 'Java', 'C++', 'PHP'])